{% extends 'base.html' %}
{% load static %} 
<!DOCTYPE html>
<html lang="ru">
  <head> 
{% load static %}    
    {% block title %}
    <a><title>Последние обновления на сайте</title></a>
    {% endblock %}
  </head>
  <body>
    <header>      
    </header>
    <main> 
      {% block content %}
      <div class="container py-5">     
        <h1>Последние тесты</h1>
        <article>
          {% for quiz in quiz_list %}
            <ul>
              <h3>
                {{ quiz.title }}
              </h3>
              <li>
                Дата публикации: {{ quiz.created_at|date:"d E Y" }}
              </li>
            </ul>
            <p>{{ quiz.description }}</p>
              <a class="nav-link link-light active"
              href="{% url 'quiz:quiz_passing' quiz.id %}">пройти тест</a>
          {% endfor %}
        </article>
      </div>
      {% endblock %}  
    </main>         
    <footer class="border-top text-center py-3">   
    </footer>
  </body>