{% extends 'base.html' %}
{% block title %}
    test
{% endblock %} 
{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">    
              {{ quiz.title }} <br>
              {{ quiz.description }}
          </div>
            <div class="card-body">  
              {% for question in all_que %}
              <h1>{{ question.text }}</h1>      
              <form>
                {% for answer in question.answers.all %}
                <div class="radio">
                  <label><input type="radio" id="answer.id" name="name" value="{{answer.text}}">{{answer.text}}</label>
                </div>
                {% endfor %}
              </form>
              {% endfor %}
              <div class="form-group">
                <button class="btn btn-success" id="save_ans">Ответить</button>
              </div>
              <div class="paginator">
                <div class="form-group">
                  {% if all_que.has_next %}
                  <a href="?page={{ all_que.next_page_number }}"><button class="btn form-control btn-primary" id="submitAnswer">Далее</button></a>
                  {% else %}
                  <a href="{% url 'quiz:quiz_result' quiz.id %}"><button class="btn form-control btn-success" id="submitAnswer">Завершить</button></a>
                  {% endif %}
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}